<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="col-md-5">
      <a id="root-link" class="navbar-brand" href="#">Chat Room</a>
    </div>
    <div class="col-md-3">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :div, msg, :class => "flash_#{name}", :id => "flash" %>
        <% end %>
      <% end %>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li style="margin-top: 16px; color: #9D9D9D;">signed in as <%= current_user.email %></li>
        <li><%= link_to 'Account', edit_user_registration_path  %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>

        <% else %>
        <li><%= link_to "Sign in", new_user_session_path  %></li>
        <li><%= link_to "Sign up", new_user_registration_path  %></li>
        <li><%= link_to "About", "#"  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
